.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    cursor: pointer;
}

.progress {
    height: 100%;
    background-color: #4caf50;
}

.track {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.track:hover {
    background-color: #ddd;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}

.author {
    font-size: 1rem;
    color: #777;
}

.playing {
    background-color: #4caf50;
    color: white;
    transition: width 0.2s ease-in-out;
}